* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    }

main {
    padding: 16px;
    }

footer {
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 36px;
    padding-right: 36px;
    background-color: #BFB304;
    }

img {
    height: 200px;
    }

nav {
    border-bottom: 1px solid #F20505;
    padding: 16px;
    background-color: #F29F05;
    }

.recipes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
}

a {
    color: white
}
.recipe_links {
    color: #3E5902;
}

li {
    margin-left: 40px;
}

.ingredient_rows tr:nth-child(even){
    background-color: rgba(128, 128, 128, 0.4);
}

#scrumptious-recipes {
    padding-top: 10px;
    padding-bottom: 10px;
}

#all-the-food {
    padding-bottom: 30px;
}
